@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), local('Montserrat'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), local('Montserrat'), local('Montserrat'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Opens Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Open Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: local('Roboto Condensed'), local('Roboto-Condensed'),
		url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Open Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro'), local('Source-Sans-Pro'),
		url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro'), local('Source-Sans-Pro'),
		url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}
