body {
	background-color: #f9f9fa;
}
.solutions {
	padding: 80px 105px;
	font-family: 'Open Sans', sans-serif;
}

.solutions__subtext {
	background: linear-gradient(90deg, #4343ff 0%, #f96d6d 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 800;
	text-transform: uppercase;
}

.solutions__title {
	margin-top: 22px;
	text-align: center;
	font-size: 2.8rem;
	font-weight: 600;
	line-height: 1.2;
}

.solutions__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 35px;
	margin-top: 80px;
}

.solutions__item {
	padding: 20px;
	background-color: #fff;
}

.solutions__subtitle {
	font-weight: 700;
	text-transform: uppercase;
	color: #110c11;
}

.solutions__text {
	width: 375px;
	margin-top: 22px;
	font-weight: 400;
	line-height: 1.6;
	text-align: left;
	color: #5c5c5c;
}

.conditions {
	padding: 60px 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 60px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fff;
}

.conditions__container {
	max-width: 470px;
}

.conditions__title {
	color: #56565a;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25rem;
	font-weight: 700;
	color: #56565a;
}

.conditions__text {
	margin-top: 10px;
	line-height: 1.3;
	color: #56565a;
}

.conditions__button {
	margin: 20px 15px 0 0;
	width: 130px;
	padding: 12px 30px;
	border-radius: 5px;
	border: none;
	text-align: center;
	/*у кнопки не наследуется font-size
	поэтому указал его */
	font-size: 1rem;
	font-weight: 600;
	background: #0a467e;
	color: #fff;
}

.conditions__button:hover {
	cursor: pointer;
	background-color: #1561a8;
}

.conditions__bonuses {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}

.conditions__item {
	padding: 22px;
	border-radius: 5px;
	text-align: center;
	background: #f7f7f7;
}

/* использовал nth-child, т.к не хотел вводить дополнительные классы */
.conditions__item:nth-child(2) {
	grid-row-end: span 2;
}
.conditions__item:nth-child(2) .conditions__item-img {
	margin-top: 50px;
}
.conditions__item-subtitle {
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3;
	color: #56565a;
}

.conditions__img-horizontal-vector {
	margin-top: 15px;
}

.conditions__item-text {
	margin-top: 15px;
	font-size: 0.9rem;
	line-height: 1.4;
	color: #56565a;
}

.pictures {
	max-width: 920px;
	margin: 0 auto;
	padding: 35px 90px;
	font-family: 'Montserrat', sans-serif;
}

.pictures__title {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75;
	color: #333;
}

.pictures__paragraph {
	max-width: 735px;
	line-height: 1.6;
	color: #333;
}

.pictures__container {
	margin: 30px 0 60px 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}

.pictures__component {
	min-height: 100px;
	padding: 40px 50px;
	margin-top: 70px;
	border-radius: 5px;
	background-color: #0079c8;
	color: #fff;
}

.pictures__subtext {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.2;
}

.pictures__inner-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.pictures__title-white {
	margin-top: 20px;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
}

.pictures__button {
	align-self: center;
	width: 260px;
	height: 56px;
	padding: 0 38px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: #0079c8;
}

.pictures__button:hover {
	background-color: #fbffdc;
}
